<%- include('header'); -%>
<div class="intro">
    <div class="intro-heading">
        <img src="images/logo.png" style="height:10rem ; margin-bottom:1rem" alt="">
        <h1>VidMeet</h1>
        <form action="/" method="POST">
            <button type="submit" name="button" style="background-color: #ECB365;  border: none; outline: none;"
                class="btn btn-primary btn-lg" value="create">Create a room</button>
            <button type="submit" name="button" style="background-color:  #ee6f57; border:none; outline: none;"
                class="btn btn-secondary btn-lg" value="join">Join a room</button>
        </form>
    </div>

</div>
</body>

</html>