<%- include('header'); -%>
<div class="intro">
  <img src="images/logo.png" style="height:6rem ; margin-bottom:1rem" alt="">
    <h1 class="join-room">VidMeet</h1>
    <form action="/join" method="post">
        <div class="form-group">
          <input name="joinRoomId" style="width: 24rem; text-align: center;" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the room id">
          <button type="submit" name="joinButton" style="background-color: #ECB365; border: none;" class="btn btn-primary btn-lg">Join room</button>
        </div>
        
    </form>
</div>


</body>

</html>